@font-face {
  font-family: "OpenSans-Regular";
  src: url("./../Open_Sans/OpenSans-Regular.ttf");
}
@font-face {
  font-family: "OpenSans-SemiBold";
  src: url("./../Open_Sans/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: "OpenSans-Bold";
  src: url("./../Open_Sans/OpenSans-Bold.ttf");
}
/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #292828;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

figure, h1, h2, p, ul {
  margin: 0;
}

input:focus, textarea:focus {
  outline: none;
}

body {
  font-family: "OpenSans-Regular";
  margin: 0;
  cursor: pointer;
}

.black-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #171717;
  font-family: "OpenSans-SemiBold";
}

.green-btn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #5e9e00;
  font-family: "OpenSans-SemiBold";
}

.block-parent {
  z-index: 2;
  background-color: #000000bf;
  position: absolute;
  width: 100%;
  height: 100%;
}
.block-parent .reporte-parent {
  background-color: #343333;
  width: 400px;
  position: absolute;
  margin: auto;
  height: fit-content;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  border-radius: 10px;
  color: #FFF;
}
.block-parent .reporte-parent .top-pop {
  display: flex;
  width: 100%;
  margin: auto;
  border-bottom: 1px solid #4e4e4e;
  padding: 15px 0;
}
.block-parent .reporte-parent .top-pop h2 {
  padding-left: 15px;
  font-size: 0.7em;
  font-weight: normal;
  font-family: "OpenSans-SemiBold";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  margin: 0;
  width: 90%;
}
.block-parent .reporte-parent .top-pop h2 i {
  font-size: 1.2em;
}
.block-parent .reporte-parent .top-pop .close-pop {
  width: 10%;
  text-align: right;
  padding-right: 10px;
  position: relative;
}
.block-parent .reporte-parent .top-pop .close-pop button {
  position: absolute;
  border: none;
  font-size: 0.9em;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  margin: auto;
  right: 10px;
  bottom: 0;
  top: 0;
}
.block-parent .reporte-parent .content-pop {
  padding: 20px 30px;
  font-size: 0.7em;
}
.block-parent .reporte-parent .content-pop .row-pop:last-child {
  margin: 0;
}
.block-parent .reporte-parent .content-pop .row-pop {
  margin-bottom: 20px;
}
.block-parent .reporte-parent .content-pop .row-pop label {
  display: block;
  font-weight: normal;
  margin-bottom: 10px;
}
.block-parent .reporte-parent .content-pop .row-pop select {
  width: 340px;
  border: none;
  height: 25px;
  padding: 0 5px;
  font-family: "OpenSans-Regular";
  border-radius: 10px;
  color: #343333;
}
.block-parent .reporte-parent .content-pop .row-pop input {
  width: 330px;
  border: none;
  height: 25px;
  padding: 0 5px;
  font-family: "OpenSans-Regular";
  border-radius: 5px;
  color: #343333;
}
.block-parent .reporte-parent .content-pop .row-pop .doble-input {
  display: flex;
  text-align: center;
}
.block-parent .reporte-parent .content-pop .row-pop .doble-input span {
  color: #80D602;
  padding: 0 10px;
  line-height: 2.5;
}
.block-parent .reporte-parent .btns-row-pop {
  text-align: right;
  padding: 0 30px;
  padding-bottom: 25px;
}

.title-gen {
  font-weight: normal;
  font-family: "OpenSans-SemiBold";
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 0.7em;
  color: #FFF;
  margin: 0 25px;
}

.logo-cont {
  position: absolute;
  left: 15px;
  top: 10px;
  width: fit-content;
  z-index: 1;
}

.nav-top {
  z-index: 1;
  background-color: #171717;
  right: 10px;
  position: absolute;
  border-radius: 30px;
  padding: 0 15px;
  top: 10px;
  font-size: 0.9em;
}
.nav-top ul {
  display: inline-block;
  list-style: none;
  padding: 0;
}
.nav-top ul .select-menu {
  color: #80D602;
}
.nav-top ul li {
  display: inline-block;
  vertical-align: middle;
  color: #CDCDCD;
  padding: 6px 10px;
  cursor: pointer;
}
.nav-top .profile-mini {
  display: inline-block;
  vertical-align: middle;
  width: 25px;
  height: 25px;
  border-radius: 20px;
  border: 2px solid #CDCDCD;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/profile.png");
}
.nav-top .profile-btn p {
  display: inline-block;
  vertical-align: middle;
  padding: 0 10px;
  font-family: "OpenSans-SemiBold";
}
.nav-top .profile-btn i {
  display: inline-block;
  vertical-align: middle;
}
.nav-top .notification {
  font-size: 1.3em;
}

.mapa {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.mapa iframe {
  width: 100%;
  height: 100%;
}

.seguimiento-parent {
  z-index: 1;
  width: 50%;
  max-width: 450px;
  overflow-y: hidden;
  background-color: #171717e6;
  position: absolute;
  bottom: 10px;
  border-radius: 10px;
  margin-left: 10px;
}
.seguimiento-parent h1 {
  margin-bottom: 10px;
}
.seguimiento-parent .search-row {
  width: 300px;
  position: relative;
  margin: 10px 25px;
  margin-top: 20px;
}
.seguimiento-parent .search-row input {
  width: 250px;
  border-radius: 10px;
  border: none;
  background-color: #FFF;
  padding: 5px 14px;
  padding-right: 35px;
}
.seguimiento-parent .search-row ::-webkit-input-placeholder {
  color: #CDCDCD;
}
.seguimiento-parent .search-row i {
  position: absolute;
  right: 15px;
  margin: auto;
  top: 0;
  bottom: 0;
  height: fit-content;
  color: #CDCDCD;
}
.seguimiento-parent .devices-cont {
  overflow-y: auto;
}
.seguimiento-parent .device-row {
  cursor: pointer;
  display: flex;
  padding-left: 25px;
}
.seguimiento-parent .device-row .device-left {
  width: 10%;
  position: relative;
}
.seguimiento-parent .device-row .device-left img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  height: 70%;
}
.seguimiento-parent .device-row .device-info {
  color: #CDCDCD;
  width: 90%;
  padding: 3px 15px;
  border-bottom: 1px solid #4e4e4e;
  display: flex;
  font-size: 0.77em;
}
.seguimiento-parent .device-row .device-info i {
  color: #80D602;
}
.seguimiento-parent .device-row .device-info .device-right {
  display: flex;
  width: 20%;
  padding-top: 5px;
}
.seguimiento-parent .device-row .device-info .device-right .device-icon {
  width: 33%;
  text-align: center;
  font-size: 1.1em;
}
.seguimiento-parent .device-row .device-info .device-center {
  width: 80%;
}
.seguimiento-parent .device-row .device-info .device-center .dev-cent-top {
  display: flex;
}
.seguimiento-parent .device-row .device-info .device-center .dev-cent-top p {
  font-family: "OpenSans-Bold";
  font-size: 0.8em;
  padding-right: 15px;
}
.seguimiento-parent .device-row .device-info .device-center .dev-cent-top small {
  font-size: 0.7em;
  padding-top: 2px;
}
.seguimiento-parent .device-row .device-info .device-center .dev-cent-top small i {
  font-size: 1.1em;
  padding-right: 5px;
}
.seguimiento-parent .device-row .device-info .device-center .dev-cent-bottom {
  line-height: 1.1;
}
.seguimiento-parent .device-row .device-info .device-center .dev-cent-bottom small {
  font-size: 0.7em;
  padding-right: 10px;
}
.seguimiento-parent .device-row .device-info .device-center .dev-cent-bottom small i {
  font-size: 1.1em;
  padding-right: 5px;
}

.device-parent {
  min-height: 270px;
  position: absolute;
  z-index: 1;
  bottom: 0;
  right: 10px;
  bottom: 10px;
  border-radius: 10px;
  background-color: #171717e6;
  color: #CDCDCD;
  display: flex;
}
.device-parent .device-left {
  width: 60%;
  padding: 20px 0 30px 30px;
  display: flex;
}
.device-parent .device-left .device-info {
  width: 90%;
}
.device-parent .device-left .device-info .device-unidad {
  margin: 10px 0;
}
.device-parent .device-left .device-info .device-unidad figure {
  display: inline-block;
  vertical-align: middle;
  position: relative;
}
.device-parent .device-left .device-info .device-unidad figure img {
  width: 40px;
}
.device-parent .device-left .device-info .device-unidad figure .line-dev {
  position: absolute;
  border-left: 1px dashed #CDCDCD;
  bottom: -5px;
  height: 14px;
  margin: auto;
  left: 0;
  width: fit-content;
  right: 0;
}
.device-parent .device-left .device-info .device-unidad p {
  font-size: 0.9em;
  display: inline-block;
  vertical-align: middle;
  margin-left: 15px;
  font-family: "OpenSans-SemiBold";
}
.device-parent .device-left .device-info .device-unidad p small {
  display: block;
  font-size: 0.7em;
  font-family: "OpenSans-Regular";
}
.device-parent .device-left .device-kms {
  font-size: 0.8em;
  margin-left: 13px;
}
.device-parent .device-left .device-kms i {
  color: #80D602;
  font-size: 1.4em;
  margin-right: 5px;
}
.device-parent .device-left .device-kms small {
  margin-right: 15px;
}
.device-parent .device-left .device-icons {
  width: 10%;
  text-align: right;
}
.device-parent .device-left .device-icons button {
  background-color: transparent;
  color: #80D602;
  border: none;
  font-size: 1.1em;
  display: block;
  text-align: center;
  margin-bottom: 10px;
  width: 35px;
}
.device-parent .device-drive-right {
  width: 40%;
  padding: 20px;
  border-radius: 10px;
  background-color: #4e4e4e;
}
.device-parent .device-drive-right .driver-top {
  margin-bottom: 10px;
}
.device-parent .device-drive-right .driver-top .driver-picture {
  background-color: white;
  width: 70px;
  height: 70px;
  border-radius: 10px;
  display: inline-block;
  vertical-align: middle;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("../images/profile.png");
}
.device-parent .device-drive-right .driver-top h2 {
  display: inline-block;
  vertical-align: middle;
  font-size: 1.1em;
  font-weight: normal;
  font-family: "OpenSans-SemiBold";
  margin-left: 15px;
  letter-spacing: 1px;
  width: 120px;
}
.device-parent .device-drive-right .driver-bottom {
  font-size: 0.8em;
}
.device-parent .device-drive-right .driver-bottom p {
  margin-bottom: 5px;
  letter-spacing: 1px;
}

.reportes-parent {
  z-index: 2;
  overflow-y: hidden;
  background-color: #171717e6;
  position: absolute;
  top: 60px;
  border-radius: 10px;
}
.reportes-parent .report-container {
  height: 200px;
  overflow-y: scroll;
  margin: 20px 0;
  width: 320px;
}
.reportes-parent .report-container .row-report {
  display: flex;
  color: #fff;
  text-align: center;
  margin: 0 10px;
}
.reportes-parent .report-container .row-report .indiv-report:hover {
  cursor: pointer;
}
.reportes-parent .report-container .row-report .indiv-report {
  border-radius: 10px;
  width: 34%;
  text-align: center;
  margin: auto;
  padding: 20px;
  padding-bottom: 0;
}
.reportes-parent .report-container .row-report .indiv-report img {
  width: 40px;
}
.reportes-parent .report-container .row-report .indiv-report p {
  font-size: 0.7em;
  min-height: 28px;
}
.reportes-parent .report-container .row-report .indiv-report p:hover {
  color: #80D602;
}

/*# sourceMappingURL=master.css.map */
