@font-face {
  font-family: 'OpenSans-Regular';
  src: url('./../Open_Sans/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans-SemiBold';
  src: url('./../Open_Sans/OpenSans-SemiBold.ttf');
}
@font-face {
  font-family: 'OpenSans-Bold';
  src: url('./../Open_Sans/OpenSans-Bold.ttf');
}

$black:#171717;
$blacktransp:#171717e6;
$gray:#3A3A3A;
$scrolltrack:#292828;
$lightgray:#CDCDCD;
$linegray:#4e4e4e;
$backPop:#343333;
$block:#000000bf;
$white:#FFF;
$green:#80D602;
$greenbtn:#5e9e00;
$osRegular:'OpenSans-Regular';
$osSemiBold:'OpenSans-SemiBold';
$osBold:'OpenSans-Bold';
$profilepicture:url('../images/profile.png');
$driverpicture:url('../images/profile.png');

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: $scrolltrack;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #888;
}

figure,h1,h2,p, ul{
  margin: 0;
}
input:focus, textarea:focus {
  outline: none;
}
body{
  font-family: $osRegular;
  margin: 0;
  cursor: pointer;
}
.black-btn {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: $black;
    font-family: $osSemiBold;
}
.green-btn{
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: $greenbtn;
  font-family: $osSemiBold;
}
.block-parent {
    z-index: 2;
    background-color: $block;
    position: absolute;
    width: 100%;
    height: 100%;
    .reporte-parent {
    background-color: $backPop;
    width: 400px;
    position: absolute;
    margin: auto;
    height: fit-content;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 10px;
    color: $white;
    .top-pop {
      display: flex;
      width: 100%;
      margin: auto;
      border-bottom: 1px solid #4e4e4e;
      padding: 15px 0;
        h2{
          padding-left: 15px;
          font-size: .7em;
          font-weight: normal;
          font-family: "OpenSans-SemiBold";
          text-transform: uppercase;
          letter-spacing: 1px;
          font-weight: normal;
          margin: 0;
          width: 90%;
          i{
            font-size: 1.2em;
          }
        }
        .close-pop{
          width: 10%;
          text-align: right;
          padding-right: 10px;
          position: relative;
          button{
            position: absolute;
            border:none;
            font-size:.9em;
            color:#fff;
            background-color: transparent;
            cursor: pointer;
            margin: auto;
            right: 10px;
            bottom: 0;
            top: 0;
          }

        }
    }
    .content-pop {
      padding: 20px 30px;
      font-size: .7em;
      .row-pop:last-child{
        margin: 0;
      }
      .row-pop{
        margin-bottom: 20px;
        label{
          display: block;
          font-weight: normal;
          margin-bottom: 10px;
        }
        select{
          width: 340px;
          border:none;
          height: 25px;
          padding: 0 5px;
          font-family: $osRegular;
          border-radius: 10px;
          color: $backPop;
        }
        input{
          width: 330px;
          border:none;
          height: 25px;
          padding: 0 5px;
          font-family: $osRegular;
          border-radius: 5px;
          color: $backPop;
        }
        .doble-input {
            display: flex;
            text-align: center;
            span{
              color: $green;
              padding: 0 10px;
              line-height: 2.5;
            }
        }
      }
    }
    .btns-row-pop{
      text-align: right;
      padding: 0 30px;
      padding-bottom: 25px;
    }
  }
}
.title-gen{
  font-weight: normal;
  font-family: $osSemiBold;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: .7em;
  color: $white;
  margin: 0 25px;
}
.logo-cont {
    position: absolute;
    left: 15px;
    top: 10px;
    width: fit-content;
    z-index: 1;
}
.nav-top{
  z-index: 1;
  background-color: $black;
  right: 10px;
  position: absolute;
  border-radius: 30px;
  padding: 0 15px;
  top: 10px;
  font-size: .9em;
  ul{
    display: inline-block;
    list-style: none;
    padding:0;
    .select-menu{
      color: $green;
    }
  }
  ul li{
    display: inline-block;
    vertical-align: middle;
    color:$lightgray;
    padding: 6px 10px;
    cursor: pointer;
  }
  .profile-mini{
    display: inline-block;
    vertical-align: middle;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    border:2px solid $lightgray;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: $profilepicture;
  }
  .profile-btn{
    p{
      display: inline-block;
      vertical-align: middle;
      padding: 0 10px;
      font-family: $osSemiBold;
    }
    i{
      display: inline-block;
      vertical-align: middle;
    }
  }
  .notification{
    font-size: 1.3em;
  }

}
.mapa {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    iframe{
      width: 100%;
      height: 100%;
    }
}
.seguimiento-parent {
    z-index: 1;
    width: 50%;
    max-width: 450px;
    overflow-y: hidden;
    background-color: $blacktransp;
    position: absolute;
    bottom: 10px;
    border-radius: 10px;
    margin-left: 10px;
    h1{
      margin-bottom: 10px;
    }
    .search-row {
      width: 300px;
      position: relative;
      margin: 10px 25px;
      margin-top: 20px;
        input {
        width: 250px;
        border-radius: 10px;
        border: none;
        background-color: $white;
        padding: 5px 14px;
        padding-right: 35px;
        }
        ::-webkit-input-placeholder {
                color:$lightgray;
        }
        i{
          position: absolute;
          right: 15px;
          margin: auto;
          top:0;
          bottom: 0;
          height: fit-content;
          color:$lightgray;
        }
    }
    .devices-cont {
      overflow-y: auto;
    }
    .device-row{
      cursor: pointer;
      display: flex;
      padding-left: 25px;
      .device-left{
        width: 10%;
        position: relative;
        img{
          position: absolute;
          top:0;
          bottom: 0;
          left: 0;
          margin: auto;
              height: 70%;
        }
      }
      .device-info{
        color:$lightgray;
        width: 90%;
        padding: 3px 15px;
        border-bottom:1px solid $linegray;
        display: flex;
        font-size: .77em;
        i{
          color: $green;
        }
        .device-right{
          display: flex;
          width: 20%;
          padding-top: 5px;
          .device-icon{
            width: 33%;
            text-align: center;
            font-size: 1.1em;
          }
        }
        .device-center {
          width: 80%;
          .dev-cent-top {
            display: flex;
            p{
            font-family: $osBold;
            font-size: .8em;
            padding-right: 15px;
            }
            small {
            font-size: .7em;
            padding-top: 2px;
              i{
                font-size: 1.1em;
                padding-right:5px;
              }
            }
          }
          .dev-cent-bottom{
            line-height: 1.1;
            small{
              font-size: .7em;
              padding-right: 10px;
              i{
                font-size: 1.1em;
                padding-right: 5px;
              }
            }
          }
        }
      }
    }
}
.device-parent {
    min-height: 270px;
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 10px;
    bottom: 10px;
    border-radius: 10px;
    background-color: $blacktransp;
    color: $lightgray;
    display: flex;
    .device-left {
    width: 60%;
    padding: 20px 0 30px 30px;
    display: flex;
      .device-info {
      width: 90%;
      .device-unidad{
        margin: 10px 0;
        figure{
          display: inline-block;
          vertical-align: middle;
          position: relative;
          img{
            width: 40px;
          }
          .line-dev{
            position: absolute;
            border-left: 1px dashed #CDCDCD;
            bottom: -5px;
            height: 14px;
            margin: auto;
            left: 0;
            width: fit-content;
            right: 0;
          }
        }
        p{
          font-size: .9em;
          display: inline-block;
          vertical-align: middle;
          margin-left: 15px;
          font-family: $osSemiBold;
          small{
            display: block;
            font-size: .7em;
            font-family: $osRegular;
          }
        }
      }
      }
      .device-kms {
          font-size: .8em;
          margin-left: 13px;
          i{
            color: $green;
            font-size: 1.4em;
            margin-right: 5px;
          }
          small{
            margin-right: 15px;
          }
      }
      .device-icons{
        width: 10%;
        text-align: right;
        button{
          background-color: transparent;
          color: $green;
          border: none;
          font-size: 1.1em;
          display: block;
          text-align: center;
          margin-bottom: 10px;
          width: 35px;
        }
      }
    }
    .device-drive-right {
    width: 40%;
    padding: 20px;
    border-radius: 10px;
    background-color: $linegray;
      .driver-top{
        margin-bottom: 10px;
        .driver-picture {
            background-color: white;
            width: 70px;
            height: 70px;
            border-radius: 10px;
            display: inline-block;
            vertical-align: middle;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-image: $driverpicture;

        }
        h2{
          display: inline-block;
          vertical-align: middle;
          font-size: 1.1em;
          font-weight: normal;
          font-family: $osSemiBold;
          margin-left: 15px;
          letter-spacing:1px;
          width: 120px;
        }
      }
      .driver-bottom{
        font-size: .8em;
        p{
          margin-bottom: 5px;
          letter-spacing: 1px;
        }
      }
    }
}
.reportes-parent{
  z-index: 2;
  overflow-y: hidden;
  background-color: $blacktransp;
  position: absolute;
  top: 60px;
  border-radius: 10px;
  .report-container{
    height: 200px;
    overflow-y: scroll;
    margin: 20px 0;
    width: 320px;
    .row-report{
      display: flex;
      color: #fff;
      text-align: center;
      margin: 0 10px;
      .indiv-report:hover{
        cursor: pointer;}
      .indiv-report{
        border-radius: 10px;
        width: 34%;
        text-align: center;
        margin: auto;
        padding: 20px;
        padding-bottom: 0;
        img{
          width: 40px;
        }
        p{
          font-size: .7em;
          min-height: 28px;

        }
        p:hover{
          color: $green;
        }
      }
    }
  }

}
