<div class="device-left">
  <div class="device-info">
    <div class="device-unidad">
      <figure><img src="images/car.png" alt=""><div class="line-dev"></div></figure>
      <p>Unidad 3742 <small>Hace menos de un minuto</small></p>
    </div>
    <div class="device-kms">
      <small><i class="fas fa-tachometer-alt"></i> 103 km/h</small>
      <small><i class="fas fa-tachometer-alt"></i> 12,575 km/h</small>
      <small><i class="fas fa-tachometer-alt"></i> 12,575 km/h</small>
    </div>
  </div>
  <div class="device-icons">
    <button><i class="far fa-user"></i></button>
    <button><i class="fas fa-chart-pie"></i></button>
    <button><i class="fas fa-laptop-code"></i></button>
    <button><i class="fas fa-wrench"></i></button>
  </div>
</div>
<div class="device-drive-right">
  <div class="driver-top">
    <div class="driver-picture"></div>
    <h2>Francisco Gomez</h2>
  </div>
  <driv class="driver-bottom">
    <p>Licencia: <b>ASR4677KK</b></p>
    <p>Registro: <b>33446</b></p>
    <p>ID: <b>23KKLW67-11</b></p>
  </driv>
</div>
