<div class="report-container">
  <div class="row-report">
    <div class="indiv-report" id="historico">
      <img src="images/report.png" alt="">
      <p>Historico</p>
    </div>
    <div class="indiv-report" id="temperatura">
      <img src="images/report.png" alt="" id="temperatura">
      <p>Temperatura</p>
    </div>
    <div class="indiv-report" id="zonas">
      <img src="images/report.png" alt="">
      <p>Zonas</p>
    </div>
  </div>
  <div class="row-report">
    <div class="indiv-report" id="rutas">
      <img src="images/report.png" alt="">
      <p>Rutas</p>
    </div>
    <div class="indiv-report" id="tiempo">
      <img src="images/report.png" alt="">
      <p>Tiempo<br>Trabajado</p>
    </div>
    <div class="indiv-report" id="paradas">
      <img src="images/report.png" alt="">
      <p>Paradas</p>
    </div>
  </div>
  <div class="row-report">
    <div class="indiv-report" id="odometro">
      <img src="images/report.png" alt="">
      <p>Odometro</p>
    </div>
    <div class="indiv-report" id="velocidad">
      <img src="images/report.png" alt="">
      <p>Exceso de<br> Velocidad</p>
    </div>
    <div class="indiv-report">
      <img src="images/report.png" alt="">
      <p>Actividad</p>
    </div>
  </div>
  <div class="row-report">
    <div class="indiv-report">
      <img src="images/report.png" alt="">
      <p>Consolidado Diario <br> de Temperatura</p>
    </div>
  </div>
</div>
