<div class="top-pop">
  <h2><i class="fas fa-thermometer-three-quarters"></i> Reporte de Temperatura</h2>
  <div class="close-pop">
    <button type="button" name="button"><i class="far fa-times-circle"></i></button>
  </div>
</div>
<div class="content-pop">
  <div class="row-pop">
    <label for="">Equipo</label>
    <select name="" id="">
      <option value="">05</option>
      <option value="">02</option>
    </select>
  </div>
  <div class="row-pop">
    <label for="">Rango de Tiempo</label>
    <div class="doble-input">
      <input type="date">
      <span>-</span>
      <input type="date">
    </div>
  </div>
</div>
<div class="btns-row-pop">
  <button class="green-btn">Descargar</button>
</div>
